<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="alert alert-success alert-dismissible" role="alert" id="signupSuccess">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <strong>Success!</strong> Your account has been created successfully. Now you can login with your credentials.
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert" id="errorLogin">
        <button type="button" class="close" data-dismiss="alert2"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <strong>Wrong!</strong> You have entered wrong details. Please kindly try again.
    </div>

    <div class="loginFormDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login Form</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="loginForm">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Username or Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                               placeholder="Enter Username / Email address" ng-model="uname" tabindex="1">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Enter Password" ng-model="pwd" tabindex="2">
                    </div>

                
                    <button type="submit" class="btn btn-primary col-sm-12 loginPageBtn"
                            ng-click="authenticateUser(uname,pwd)" tabindex="4"><i
                            class="glyphicon glyphicon-log-in"></i> &nbsp; Login
                    </button>
                    <div class="clearfix"></div>

                    <a href="#createNewUser" tabindex="5">
                        <button type="submit" class="btn btn-primary col-sm-12 loginPageBtn">Create New Account</button>
                    </a>
                    <div class="clearfix"></div>

                    <div class="checkbox">
                        <a href="" class="col-sm-6" tabindex="6">Forgot Password?</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
