<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<div class="alert alert-{{alertClass}} alert-dismissible" role="alert" id="multiPurposeAlert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <strong>{{alertClass | uppercase}}!</strong> {{alertText}}.
</div>



<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-href="#Students" data-target="#Students">Contacts</a></li>
    <!-- <li><a data-toggle="tab" data-href="#menu1" data-target="#menu1">staffs</a></li> -->
    <!-- <li><a data-toggle="tab" data-href="#menu2" data-target="#menu2">Technologies</a></li> -->
  </ul>

  <div class="tab-content">
    <div id="Students" class="tab-pane fade in active">
      <div>
          <div class="input-group col-lg-4 searchBox pull-right">
              <input type="search" class="form-control" placeholder="Search Contacts.." ng-model="searchEmp"/>
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i>
                      </button>
                  </span>
          </div>
           <div class="col-lg-4 pull-right">
               <strong class="sortByText">Sort by</strong>
               <select ng-model="empOrderBy" class="styled-select sortList">
                   <option value="name">Name</option>                   
                   <option value="bloodgroup">Blood Group</option>
                   <option value="email">Email</option>
                   <option value="phone">Phone</option>
                   <option value="dob">DOB</option>
               </select>
           </div>
      </div>


      <div class="clearfix"></div>
      <button class="btn btn-sm btn-primary pull-right myBtn2" ng-click="addNewRecord('Students')"><i
              class="glyphicon glyphicon-plus"></i>&nbsp; Add Contact
      </button>
      <button class="btn btn-sm btn-primary pull-right myBtn2"
              ng-click="cancelMultipleRecords('Students');toggleBtnEmp=!toggleBtnEmp;"
              ng-show="toggleBtnEmp">
          <i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel
      </button>
      <!-- <button class="btn btn-sm btn-danger pull-right myBtn2"
              ng-click="deleteMultipleRecords('Students');toggleBtnEmp=!toggleBtnEmp;"
              ng-show="toggleBtnEmp">
          <i class="glyphicon glyphicon-trash"></i>&nbsp; Delete Marked
      </button> -->

      <div class="clearfix"></div>

                <div class="panel-group" ng-repeat="x in Students  | filter:{name:searchEmp} track by $index" class="row">
                <!-- First Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4 class="panel-title pointer"
                             data-toggle="collapse"
                             data-target="#collapse{{$index}}" data-href='#collapse{{$index}}'>
                             {{$index + 1}}.&nbsp; {{x.name}} - {{x.phone}}
                         </h4> 
                    </div>
                    <div id="collapse{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div>
                              <strong class="col-sm-6">Name </strong><i class="col-sm-6">{{x.name}}</i>
                              <!-- <strong class="col-sm-6">Emp Id </strong><i class="col-sm-6">{{x.stuid}}</i> -->
                              <!-- <strong class="col-sm-6">Deprtment </strong><i class="col-sm-6">{{x.Deprtment}}</i> -->
                              <strong class="col-sm-6">Blood Group</strong><i class="col-sm-6">{{x.bloodgroup}}</i>
                              <strong class="col-sm-6">Email </strong><i class="col-sm-6">{{x.email}}</i>
                              <strong class="col-sm-6">Phone </strong><i class="col-sm-6">{{x.phone}}</i>
                              <strong class="col-sm-6">DOB </strong><i class="col-sm-6">{{x.dob}}</i>

                              <button class="btn btn-sm btn-danger pull-right myBtn"
                                      ng-click="deleteRecord('Students',x)">
                                  <i class="glyphicon glyphicon-trash"></i>&nbsp; Delete
                              </button>
                              <button class="btn btn-sm btn-primary pull-right myBtn"
                                      ng-click="openEditModal('Students',$index)">
                                  <i class="glyphicon glyphicon-edit"></i>&nbsp; Edit
                              </button>

                          </div>
                        </div>
                    </div>
                </div>

            </div>          
    </div>    
</div>
</div>



<!-- Modal -->
<div id="addStudentTemplate" class="modal fade" role="dialog">
  <div class="modal-dialog" style='left:0'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="panel-title">Add New Contact Info</h3>
      </div>
      <div class="modal-body">
        <form name="newStuRecordForm" role='form'>
          <div class="form-group">
            <label for="name">Contact Name</label>
            <input class="col-sm-8 form-control" ng-model="newContact.name" required/>
          </div>
          <!-- <div class="form-group">
            <label for="stuid">Student Id </label>
            <input class="col-sm-8 form-control" ng-model="newContact.stuid"/>
          </div> -->
          <!-- <div class="form-group">
            <label for="department">Deprtment</label>
            <input class="col-sm-8 form-control" ng-model="newContact.Deprtment"/>
          </div> -->
          <div class="form-group">
            <label for="section">Blood Group</label>
            <input class="col-sm-8 form-control" ng-model="newContact.bloodgroup" required/>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input id="dob" class="col-sm-8 form-control" type="text" data-datepicker="{theme: 'flat'}" data-ng-model="newContact.dob" required/>          
            <!-- <input class="col-sm-8 form-control" ng-model="newContact.dob"/> -->
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="col-sm-8 form-control" ng-model="newContact.email" required/>
          </div>
          <div class="form-group" ng-class="{'has-error': newContact.phone.$error.number}">
            <label for="phone">Phone</label>
            <!-- <input class="col-sm-8 form-control" type='number'  ng-model="newContact.phone" required /> -->
             <input type="text" class="col-sm-8 form-control" ng-max='10' name="nums" ng-model="newContact.phone" required ng-pattern="/^(\d)+$/" />
      <p class="error-text" ng-show="newStuRecordForm.nums.$error.pattern">Please Type number and valid mobile number.</p> 
          </div>
          
            <div class="clearfix breakSpace"></div>
            <div class="modal-footer">
            <button class="btn btn-sm btn-danger pull-right myBtn" ng-click="discardRecord()">
                <i class="glyphicon glyphicon-remove"></i>&nbsp; Discard
            </button>
            <button class="btn btn-sm btn-primary pull-right myBtn" ng-click="commitRecord('Students', newContact)"
                    ng-disabled="newStuRecordForm.$invalid">
                <i class="glyphicon glyphicon-ok"></i>&nbsp; Add Record 
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="editStudentTemplate" class="modal fade" role="dialog">
<div class="modal-dialog" style="left:0">
<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modal Header</h4>
  </div>
  <div class="modal-body">
    <form name="editStuRecordForm" role='form'>
        <div class="form-group">
          <label for="email">Name</label>
          <input class="col-sm-8 form-control" ng-model="items.name" ng-model-options="{ updateOn: 'submit' }" required/>
        </div>    
        <div class="form-group">
          <label for="email">Blood Group</label>
          <input class="col-sm-8 form-control " ng-model="items.bloodgroup" ng-model-options="{ updateOn: 'submit' }" required/>
        </div>
        <div class="form-group">
          <label for="email">Date of Birth</label>
          <!-- <input class="col-sm-8 form-control" ng-model="items.dob" ng-model-options="{ updateOn: 'submit' }"/> -->
          <input id="dob" class="col-sm-8 form-control" type="text" data-datepicker="{theme: 'flat'}" data-ng-model="items.dob" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="col-sm-8 form-control" type='email' ng-model="items.email" ng-model-options="{ updateOn: 'submit' }" required/>
          </div>
        <div class="form-group">
          <label for="email">Phone</label>
          <!-- <input class="col-sm-8 form-control" ng-pattern="regEx" ng-model="items.phone" ng-model-options="{ updateOn: 'submit' }" required/> -->
          <input type="text" class="col-sm-8 form-control" ng-max='10' name="nums" ng-model="items.phone" ng-model-options="{ updateOn: 'submit' }" required ng-pattern="/^(\d)+$/" />
      <p class="error-text" ng-show="editStuRecordForm.nums.$error.pattern">Please Type number and valid mobile number.</p> 
        </div>
        
        <div class='clearfix'></div>
        <div class="modal-footer updateModalFooter">
            <input type="submit" class="btn btn-primary" ng-click="updateRecord()" ng-disabled="editStuRecordForm.$invalid"
                   value="Update"/>
            <!--</button>-->
            <button class="btn btn-warning" ng-click="discardUpdate()"><i class="glyphicon glyphicon-remove-circle"></i>
                Discard
            </button>
        </div>
    </form>
  </div>

</div>

</div>
</div>






<!--Adding record END-->


<!--Updates / editing record START-->









<!--Updates / editing record END-->
